@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/poppins-v21-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #A18268;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */

.button {
  color: var(--color-primary-light);
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background-color: var(--color-brand-normal);
  font-size: 18px;
  transition: all 0.6s;
}

.button:hover {
  color: var(--color-button-hover);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.6s;
}

/* Link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
}

/* ALL */
.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
  color: var(--color-brand-normal);
}

.brand-text {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.brand-uppercase {
  color: var(--color-brand-normal);
  text-transform: uppercase;
  font-weight: 600;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero */
.hero-section {
  padding: 272px 0;
  background-image: url("./images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  text-align: center;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages */
.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: var(--color-brand);
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions */
.tradition-section {
  padding-top: 96px;
}

.tradition-title {
  margin-bottom: 42px;
  font-weight: 900;
  line-height: 1.3;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

/* Chefs */
.chefs-title {
  margin: 0 auto 80px;
  max-width: 520px;
}

.chefs-title::before,
.chefs-title::after  {
  display: block;
  content: "";
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

/* Formats */
.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 444px;
  border: 1px solid lightblue;
  border-radius: 16px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    fill: var(--color-primary-dark);
}

.slider:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

/* Contacts */

.footer {
  background-image: url("./images/footerbg.png");
  background-color: var(--color-primary-dark);
  background-size: cover;
  background-position: center;
}

.contacts-title {
  margin-bottom: 16px;
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

